/* Import component-level CSS files */
@import url('./NavigationBar.css');

/* Overwrite Bootstrap's default box-sizing */
*,
*::before,
*::after {
    box-sizing: content-box !important;
}

body {
    margin: 0;
    /* font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
    font-family: 'Inter', 'Roboto', Helvetica, Arial, sans-serif, 'Lato', 'Inter', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    height: 100%;
    overflow: hidden;
}

body {
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: 3px underline #5bb6ea;
}

.vis-panel {
    .vis-overview-panel {
        position: absolute;
        width: 100%;
        height: 100%;
        border-right: 1px solid lightgray;
        background-color: white;
        overflow-y: none;
        z-index: 999;
        left: 0px;
        transition-property: left, display;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-behavior: allow-discrete;

        .navigation-container {
            display: flex;
            align-items: center;
            padding: 0px 20px;
            font-size: 18px;
            border-bottom: 1px solid lightgray;
            background: #f6f6f6;

            .config-button {
                svg {
                    vertical-align: unset;
                }
            }
            .config-button:hover {
                background-color: #eaeaea;
            }
            .config-button:active {
                background-color: #e3e3e3;
            }

            .title-github-link:hover,
            .title-doc-link:hover,
            .feedback a:hover {
                background-color: #eaeaea;
            }

            .title-github-link:active,
            .title-doc-link:active,
            .feedback a:active {
                background-color: #e3e3e3;
            }
        }
    }

    .hide {
        left: -100%;
        display: none;
    }

    .vis-overview-panel .gosling-component {
        cursor: pointer;
        pointer-events: none;
    }

    .gosling-component {
        z-index: 1;
    }

    .vis-overview-panel .title {
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid lightgray;
        background: #f6f6f6;
    }

    .vis-overview-panel .title small {
        font-weight: normal;
    }

    .vis-overview-panel .button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 12px;
    }

    .vis-overview-panel .overview-container {
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 41px - 20px);
        padding: 20px;
        gap: 20px;
        overflow-y: auto;
    }

    .overview-root {
        margin-top: 50px;
        gap: 0px;
        height: calc(100% - 50px);
    }

    .overview-container {
        width: calc(100% - 400px - 40px);
        float: left;
    }

    .overview-status {
        background: rgba(210, 210, 210, 0.1);
        width: calc(100% - 400px);
        height: 25px;
        float: left;
        border-bottom: 1px solid lightgrey;
        padding: 0px;
        margin: 0px;
        color: grey;
        align-content: middle;
        display: flex;
        justify-content: center;
    }

    .overview-left {
        float: left;
        height: 100%;
        width: 398px;
        border-right: 1px solid lightgrey;
        overflow-y: auto;
        overflow-x: hidden;
        background: rgba(210, 210, 210, 0.1);
    }

    .vis-overview-panel table {
        width: 100%;
        border-spacing: 0px 0px;
        border-collapse: collapse;
    }

    .vis-overview-panel tr /* :nth-child(even) */ {
        border-top: 1px solid lightgray;
    }

    .vis-overview-panel td {
        border-radius: 0px;
        padding-left: 90px !important;
    }

    .vis-overview-panel .overview-title {
        position: absolute;
        left: -10px;
        top: 120px;
        transform: rotate(-90deg);
        font-weight: bold;
        font-size: 18px;
        text-shadow: 0px 0px 12px #f6f6f6;
    }

    .overview-container > div {
        padding: 4px;
    }

    .vis-overview-panel .selected-overview,
    .vis-overview-panel .unselected-overview {
        display: block;
        text-align: center;
        flex: 1;
    }

    .vis-overview-panel .selected-overview {
        box-shadow: inset 0px 0px 0px 2px #2e94ff;
    }

    .vis-overview-panel .unselected-overview {
        cursor: pointer;
    }

    .vis-overview-panel .unselected-overview:hover {
        box-shadow: inset 0px 0px 0px 2px lightgray;
    }

    .vis-overview-panel td {
        padding: 20px;
    }
}

.chromoscope-title {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

.chromoscope-title:focus,
.chromoscope-title:focus-visible {
    /* padding: 5px; */
}

.dimed {
    color: lightgrey;
}

.about-modal,
.about-modal-hidden {
    z-index: 10001;
    opacity: 1;
    position: absolute;
    left: calc(25%);
    top: calc(10%);
    width: 50%;
    height: 80%;
    box-shadow: 0 0 15px #0008;
    background: white;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    padding: 30px;
    line-height: 2;
    overflow-y: scroll;
}
.about-modal a {
    text-decoration: 2px underline grey dotted;
    text-underline-offset: 2px;
}
.about-modal a:hover {
    text-decoration: 2px underline black solid;
}
.about-modal h4 {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(72, 66, 66);
}
.about-modal ul {
    padding-left: 20px;
}
.about-modal b {
    font-weight: 600;
}
.about-modal ul {
    list-style-type: '- ';
}
.about-modal-footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(72, 66, 66);
    /* background-color: rgb(229, 229, 229); */
}
.about-modal-footer a {
    text-decoration: none;
}
.about-modal-disable-button {
    width: 100%;
    border-radius: 6px;
    border: 1px solid grey;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    /* position: absolute; */
    /* bottom: 30px; */
}

.about-modal-hidden,
.about-modal-container-hidden {
    visibility: collapse;
}

.about-modal-container,
.about-modal-container-hidden {
    z-index: 10000;
    background-color: #0006;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about-modal-close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
}

.title-about-link {
    margin: auto 12px;
    font-size: 12px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 6px;
}

.title-about-link svg {
    height: 16px;
    padding: 4px 4px 4px 0px;
    vertical-align: middle;
    color: black;
}

.panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-title > small {
    font-size: 12px;
    margin-left: 6px;
}

.config-panel {
    visibility: hidden;
    background-color: #f6f6f6;
    border-right: 1px solid lightgray;
    padding: 20px;
    height: calc(100% - 40px);
    position: fixed;
    z-index: 999;
}

.config-panel-section-title {
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}

.config-panel-input-container {
    margin-top: 18px;
    width: 100%;
}

.config-panel-label {
    /* label on the left of HTML elements */
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 40%;
    display: inline-block;
}

.config-panel-label > small {
    margin-left: 4px;
    font-size: 10px;
    font-weight: bold;
}

.config-panel-input {
    width: 60%;
    display: inline-block;
}

.config-panel-dropdown {
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.nav-dropdown {
    font-size: 14px;
    width: 150px;
    height: 30px;
    border-radius: 0px;
    border: 1px solid grey;
    position: absolute;
    left: 3px;
    scroll-margin-top: 155px;
}

.nav-dropdown:focus {
    border-radius: 0px;
}

.zoom-in-button,
.zoom-out-button,
.zoom-left-button,
.zoom-right-button {
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    padding: 0px;
    /* padding-left: 10px;
    padding-right: 10px; */
    line-height: 30px;
    border: 1px solid lightgrey;
}
.zoom-in-button {
    left: 380px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.zoom-out-button {
    left: 410px;
    line-height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.zoom-left-button {
    left: 455px;
    line-height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.zoom-right-button {
    left: 485px;
    line-height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.zoom-in-button:hover,
.zoom-out-button:hover,
.zoom-left-button:hover,
.zoom-right-button:hover {
    background: #ebebeb;
}

.zoom-in-button:active,
.zoom-out-button:active,
.zoom-left-button:active,
.zoom-right-button:active {
    background: #e6e4e4;
}

.gene-search {
    position: absolute;
    font-size: 14px;
    left: 158px;
    height: 28px;
    width: 160px;
    /* border-radius: 10px; */
    margin-left: 20px;
    padding-left: 29px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    border: 1px solid grey;
}

.gene-search-icon {
    margin-top: 1px;
    margin-left: 22px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 164px;
    cursor: pointer;
    z-index: 999;
    fill: grey;
}

.config-panel-search-box {
    font-size: 14px;
    height: calc(30px - 6px);
    width: calc(100% - 24px);
    padding: 3px 12px;
}

.config-panel-button {
    font-size: 14px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

.config-panel-button:hover {
    box-shadow: 0px 0px 4px #00000066;
}

.vis-panel {
    height: 100%;
    width: 100%;
}

.tag-parent {
    margin: 4px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
}

.tag-note {
    padding: 4px;
    margin-top: 6px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    color: grey;
}

.data-availability-checkbox {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 6px;
}

.thumbnail-generate-button {
    margin-left: 400px;
    line-height: 30px;
    border-radius: 0px;
    border: 1px solid grey;
    cursor: pointer;
}

.thumbnail-loading-message {
    position: absolute;
    left: 0px;
    top: calc(50% - 12px);
    width: 100%;
    font-weight: bold;
    color: darkgrey;
}

.tag-assembly {
    position: absolute;
    color: rgb(195, 195, 195);
    font-weight: bold;
    font-size: small;
    bottom: 14px;
    right: calc(50% - 95px);
}

.tag-ra,
.tag-id,
.tag-pm,
.tag-sv,
.tag-disabled {
    /* border-radius: 4px; */
    padding: 2px;
    padding-left: 10px;
    /* margin: 2px; */
    border: 1px solid rgb(234, 234, 234);
    border-top: none;
    font-weight: bold;
}

.tag-sv {
    border-top: 1px solid rgb(234, 234, 234);
}

.tag-disabled {
    color: lightgrey;
}

.tag-sv {
    color: #3275b4;
}

.tag-ra {
    color: #d6641e;
    /* color: white; */
}

.tag-id {
    color: #cc7daa;
    /* color: black; */
}

.tag-pm {
    color: #e6a01b;
    /* color: black; */
}

.jump-to-bp-btn {
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    box-shadow: 0 0 10px 0px #00000032;
    border: 2px solid grey;
    border-radius: 4px;
    cursor: pointer;
    z-index: 998;
    opacity: 0.5;
}

.jump-to-bp-btn:hover {
    opacity: 1;
}

.move-to-top-btn {
    width: 30px;
    height: 30px;
    color: #a9a9a9;
    position: absolute;
    box-shadow: 0 0 10px 0px #00000032;
    bottom: 20px;
    cursor: pointer;
    z-index: 998;
    opacity: 0.5;
    border: none;
    border-radius: 4px;
    background: none;
    padding: 0px;
}

.move-to-top-btn:hover {
    opacity: 1;
}

.move-to-top-btn:focus-visible {
    outline-offset: 2px;
}

.interaction-toggle-button {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.interaction-toggle-button-label {
    line-height: 30px;
}

.sample-text-box {
    margin-left: 20px;
    line-height: 20px;
}

.menu-title svg {
    vertical-align: middle;
}
.sample-label small {
    margin-left: 12px;
    font-size: 12px;
    color: gray;
    margin-right: 10px;
}

.help-label {
    position: absolute;
    top: 12px;
    right: 20px;
    text-shadow: 0px 0px 6px white;
    z-index: 999;
    color: gray;
    background: #ffffff99;
}

.gosling-panel {
    /* http://iros.github.io/patternfills/sample_d3.html */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+');
    background-repeat: repeat;
    overflow-y: auto;
    display: grid;
}

.gosling-panel > div {
    grid-area: 1 / 1;
}

.vis-panel-title {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 30%;
}

.vis-panel-overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    /* box-shadow: inset 0px 0px 0px 2px gray; */
    /* background-color: #7AADED00; */
    cursor: grab;
}

.vis-panel-overlay:hover {
    box-shadow: inset 0px 0px 0px 2px #7aaded;
    background-color: #7aaded22;
}

.vis-panel-overlay-active {
    box-shadow: inset 0px 0px 0px 2px #7aaded;
    pointer-events: none;
}

.vis-panel-overlay > span {
    opacity: 0;
    background-color: gray;
    font-weight: bold;
    color: white;
    line-height: 10px;
    position: fixed;
    top: 0;
    padding: 10px;
}

.vis-panel-overlay:hover > span {
    opacity: 1;
    background-color: #7aaded;
}

.track-mouseover-menu {
    z-index: 999;
}

/* Styles for the variant view controls */
.variant-view-controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    left: 3px;

    .chromosome-select {
        position: relative;
        height: auto;
        left: 0px;
    }
    .gene-search {
        position: relative;
        left: 0px;
        padding: 0px;
        width: auto;
        height: auto;
        display: flex;

        svg {
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            left: 8px;
            margin: auto;
            margin-left: 0px;
        }
        input {
            position: relative;
            left: 0;
            margin-left: 0;
            border: none;
            width: 180px;
            padding-left: 35px;
        }
    }
    .directional-controls {
        display: flex;
        margin: auto 0px auto 16px;
        gap: 16px;
        .control-group {
            display: flex;
            .control {
                box-sizing: border-box !important;
                position: relative;
                left: 0px;
                margin-left: 0px;
                line-height: 28px;
            }
        }
    }
}

.track-tooltips-container {
    top: 100px;
    width: 3%;
    height: min-content;
    position: relative;
    z-index: 997;
}

.track-tooltip {
    display: flex;
    padding: 0px;
    border: none;

    .button.question-mark {
        width: 12px;
        height: 12px;
        fill: black;
    }
}
.track-tooltip:hover {
    cursor: pointer;
}
.track-tooltip:focus,
.track-tooltip:focus-visible {
    outline-offset: 2px;
}

.navigation-buttons {
    box-sizing: border-box;
    position: fixed;
    z-index: 998;
    display: flex;
    flex-direction: column;
    top: 63px;
    left: 63px;
}

.navigation-button-container {
    display: flex;
    height: auto;
    padding: 0px;
}
.navigation-button-container.split {
    display: flex;
    height: auto;
    padding: 0px;

    .split-left {
        border-radius: 8px 0px 0px 8px;
        border-right: none;
    }
    .split-right {
        width: 40px;
        border-radius: 0px 8px 8px 0px;
        border-left: none;

        .button.question-mark {
            width: 15px;
            margin: auto;
            color: black;
        }
    }
}
.navigation-button {
    box-sizing: border-box !important;
    background-color: #f6f6f6;
    cursor: pointer;
    font-size: 1rem;
    font-family: Inter;
    height: 40px;
    width: 160px;
    padding: 2px 10px;
    border: 1px solid #d3d3d3;
}

.navigation-button-variant,
.navigation-button-read {
    margin-top: 4px;
}

.navigation-button:focus,
.navigation-button:focus-visible {
    outline-offset: -1px;
}

.navigation-button:hover:not(:disabled) {
    background-color: #ebebeb;
}
.navigation-button:active:not(:disabled) {
    background-color: #e6e4e4;
}

.clinical-panel-container {
    box-sizing: border-box !important;
    position: fixed;
    top: 50px;
    right: 0px;
    width: 250px;
    height: calc(100% - 50px);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+);
    background-position-x: -1px;

    .clinical-panel {
        box-sizing: border-box !important;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px 10px 20px;
        border-radius: 10px 0px 0px 10px;
        height: 100%;
        background-color: #eef2f6;
        border: 1px solid #d7dfe4;
    }

    .panel-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0px 0px 6px 0px;
        border-bottom: 1px solid #cad3da;
        margin-bottom: 10px;

        .panel-icon {
            color: #434d5e;
            height: 20px;
            margin: 0px;
        }

        h2 {
            font-size: 1rem;
            font-weight: 600;
            color: #2c3648;
            margin-bottom: 0px;
        }

        .collapse-panel {
            box-sizing: border-box !important;
            display: flex;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #cad3da;
            border-radius: 100%;
            padding: 3px;
            svg {
                margin: auto;
                color: #4d565c;
            }
        }
    }

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
        overflow-y: auto;

        .panel-section {
            box-sizing: border-box !important;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #ffffff;
            /* border: 1px solid #CAD3DA; */
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 16px;

            .section-header {
                display: flex;
                justify-content: space-between;
                background-color: #202f48;
                padding: 10px;
                border: none;

                h3 {
                    font-weight: 600;
                    color: white;
                    font-size: 0.875rem;
                    margin: 0px;
                }

                .section-toggle {
                    display: flex;
                    justify-content: center;
                    padding: 0px;
                    height: 12px;
                    width: 12px;
                    border: none;
                    background-color: transparent;
                    margin: auto 0px;

                    svg {
                        margin: auto;
                        color: white;
                    }
                }
            }
            .callout {
                padding: 4px;
                border-bottom: 1px solid #e0e6eb;

                .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: #e9edf2;
                    padding: 5px 8px;
                    border-radius: 5px;

                    svg {
                        margin: auto 8px auto 0px;
                        color: #464e55;
                        height: 10px;
                        width: 10px;
                    }
                    span {
                        color: #464e55;
                        font-size: 0.625rem;
                    }
                }
            }

            .section:focus-visible,
            .section:focus {
                outline-offset: -1px;
            }
            .section-body {
                display: flex;
                flex-direction: column;
                flex: 1;
                box-sizing: border-box !important;
                overflow-y: scroll;
                padding: 0px 8px;
                font-size: 0.75rem;
                border: solid #cad3da;
                border-width: 0px 1px 1px 1px;
                border-radius: 0px 0px 8px 8px;

                .data-list {
                    padding: 0px;
                    margin-bottom: 0px;

                    .data-row {
                        box-sizing: border-box !important;
                        display: flex;
                        justify-content: flex-start;
                        padding: 8px 0px;
                        border-bottom: 1px solid #e0e6eb;

                        .data-label {
                            flex: 3;
                            color: #565961;
                            font-weight: 600;
                        }

                        .data-value {
                            flex: 2;
                            color: #000000;
                        }
                    }

                    .data-row:last-of-type {
                        border-bottom: none;
                    }

                    .data-row.clickable:hover {
                        background-color: #d5dce2 !important;
                        cursor: pointer;
                    }
                }
            }
        }

        /* Style individual sections */
        .panel-section.summary {
            flex: 3;

            .section-body {
                .callout {
                    padding: 5px 0px;
                    .content {
                        padding: 4px 12px;
                        display: flex;
                        background-color: #ffefdb;
                        border: 1px solid #f6e4cd;
                        border-radius: 10px;

                        span {
                            font-size: 0.75rem;
                            color: #502d07;
                            margin: auto;
                        }
                    }
                }
            }
        }
        .panel-section.variants {
            flex: 2;
            .section-body {
                padding: 0px;

                .data-list {
                    overflow: scroll;
                    .data-row {
                        padding: 8px;
                    }
                    .data-row:nth-of-type(even) {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
        .panel-section.signatures {
            flex: 4;

            .callout.hrdetect {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border: solid #cad3da;
                border-width: 0px 1px;

                .label {
                    flex: 1;
                    color: #565961;
                    font-size: 0.75rem;
                    font-weight: 500;
                }

                .value {
                    flex: 1;
                    color: #000000;
                    font-size: 0.75rem;
                    font-weight: 500;

                    .circle-icon {
                        width: 8px;
                        height: 8px;
                    }
                    .circle-icon.positive {
                        color: #1d9819;
                    }
                    .circle-icon.negative {
                        color: lightgray;
                    }

                    span {
                        margin-left: 5px;
                    }
                }
            }

            .section-body {
                padding: 0px;
                overflow: hidden;

                .data-list {
                    .data-row:nth-of-type(even) {
                        background-color: #f5f5f5;
                    }

                    .data-row {
                        display: inline-block;
                        width: 100%;
                        padding: 10px 8px;

                        .data-label {
                            display: inline;
                            flex: none;
                            color: #000000;
                            font-weight: 600;
                            margin-right: 0.25rem;
                        }
                        .data-value {
                        }
                    }
                }
            }
        }

        /* Expanded and collapsed */
        .panel-section.expanded {
            max-height: fit-content;
            .section-header {
                .section-toggle {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .panel-section.collapsed {
            flex: none;
            max-height: none;
            .section-body {
                flex: none;
                padding: 0px;
                height: 0px;
                border: none;
            }

            .callout.hrdetect {
                display: none;
            }

            .section-header {
                .section-toggle {
                    svg {
                        transform: none;
                    }
                }
            }
        }

        /* Styles for toggle-able rows */
        .dropdown-row {
            display: flex;
            flex-direction: column;
            overflow: scroll;

            .header {
                box-sizing: border-box !important;
                display: flex;
                width: 100%;
                justify-content: space-between;
                background-color: #e0e6eb;
                padding: 10px;
                border: 1px solid #cad3da;
                border-width: 1px 0px;

                h4 {
                    font-weight: 600;
                    color: #2c3648;
                    font-size: 0.75rem;
                    margin: 0px;
                }

                .toggle {
                    display: flex;
                    justify-content: center;
                    padding: 0px;
                    height: 12px;
                    width: 12px;
                    border: none;
                    background-color: transparent;
                    margin: auto 0px;

                    svg {
                        margin: auto;
                        color: #55606b;
                    }
                }
            }
            .header:hover {
                background-color: #d5dce2;
            }

            .body {
                overflow: scroll;
            }
        }
        .dropdown-row.expanded {
            flex: 1;
            max-height: fit-content;

            .header {
                .toggle {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            .body {
                flex: 1;
            }
        }
        .dropdown-row.collapsed {
            flex: none;
            max-height: none;

            .header {
                .toggle {
                    border-bottom: 0px;
                    svg {
                        transform: none;
                    }
                }
            }
            .callout {
                display: none;
            }
            .body {
                height: 0px;
            }
        }
        .dropdown-row.disabled {
            .header {
                background-color: #f5f5f5;
                pointer-events: none;
                border-bottom: none;
                h4 {
                    color: gray;
                }
                .toggle {
                    svg {
                        transform: none;
                        color: gray;
                    }
                }
            }
        }
    }
}

.clinical-panel-container.open {
    box-sizing: border-box !important;
    position: fixed;
    top: 50px;
    right: 0px;
    width: 250px;
    height: calc(100% - 50px);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+);
    background-position-x: -1px;
}
.clinical-panel-container.closed {
    width: 45px;

    .clinical-panel {
        width: 100%;
    }

    .panel-header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: none;

        h2 {
            display: none;
        }

        .collapse-panel {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .panel-section {
        display: none;
    }
}

.clinical-panel-container.closed.disabled {
    .clinical-panel {
        background-color: #f5f5f5;

        .panel-header {
            .panel-icon {
                color: gray;
            }

            .collapse-panel {
                display: none;
            }
        }
    }
}

/* Minimal Mode styles */
.minimal_mode {
    .gosling-panel {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 60px 300px 60px 60px;
    }

    .sample-label {
        left: 300px;
        top: 8px;
    }

    .nav-dropdown {
        scroll-margin-top: 50px;
    }

    .navigation-buttons {
        top: 3px;
        left: 3px;
    }

    /* Force scrollbar to show */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    ::-webkit-scrollbar:hover {
        cursor: pointer;
    }

    /* Styles for the navigation on the right side of visualization */
    .external-links {
        position: absolute;
        z-index: 998;
        height: auto;
        width: auto;
        top: 3px;
        right: 12px;

        .external-links-nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .open-in-chromoscope-link {
                background-color: #f6f6f6;
                font-size: 0.9rem;
                font-family: Inter;
                font-weight: 400;
                display: flex;
                height: 35px;
                justify-content: center;
                border: 1px solid #d3d3d3;
                border-radius: 8px;

                .link-group {
                    margin: auto;

                    .external-link-icon {
                        margin: auto;
                        margin-left: 8px;
                        fill: black;
                        stroke: black;
                    }
                }
            }

            .open-in-chromoscope-link:hover {
                text-decoration: none;
                cursor: pointer;
                background-color: #ebebeb;
            }

            .open-in-chromoscope-link:active {
                background-color: #e6e4e4;
            }

            .button-group {
                display: flex;
                gap: 4px;

                .export-links {
                    position: relative;
                    border-radius: 4px;
                    margin-top: 4px;

                    .export-dropdown {
                        height: auto;
                        right: 0px;
                        border-radius: 8px;
                        transition: all 100ms;
                        overflow: hidden;

                        .export-button {
                            position: relative;
                            box-sizing: border-box !important;
                            background-color: #f6f6f6;
                            width: 120px;
                            height: 35px;
                            border: 1px solid #d3d3d3;
                            border-radius: inherit;
                            font-weight: 400;

                            .export-title {
                                font-size: 0.9rem;
                                font-family: Inter;
                            }

                            .button.triangle-down {
                                width: 11px;
                                height: 7px;
                                margin-left: 8px;
                            }
                        }

                        .nav-list {
                            list-style-type: none;
                            padding: 0px;
                            display: flex;
                            flex-direction: row;
                            height: 50px;
                            background-color: white;
                            border: 1px solid rgb(221, 221, 221);
                            margin: 0px;
                            border-radius: 10px;
                            width: 150px;
                            position: absolute;
                            /* left: 50%; */
                            /* transform: translate(-50%, 0px); */
                            top: 105%;

                            .nav-list-item {
                                display: flex;
                                margin: auto;
                            }

                            .nav-list-item:hover {
                                cursor: pointer;
                                background-color: #f4f4f4;
                                border-radius: 5px;
                            }

                            .title-btn {
                                display: flex;
                                position: relative;
                                width: 25px;
                                height: 25px;
                                margin-left: 0px;
                                color: black;
                                padding: 6px;
                            }

                            .title-btn.png {
                                border: none;
                                background-color: transparent;
                            }

                            svg.button:focus,
                            svg.button:focus-visible {
                                outline-offset: 0px;
                            }
                        }
                    }

                    .export-dropdown.open {
                        background-color: #f9f9f9;
                        border-radius: 8px;
                        transition: all 100ms;

                        .export-button {
                            border: none;
                            background-color: #ebebeb;
                        }
                    }

                    .export-dropdown.closed {
                        .export-button:hover {
                            cursor: pointer;
                            background-color: #ebebeb;
                        }

                        .export-button:active {
                            background-color: #e6e4e4;
                        }
                    }
                }

                .feedback {
                    display: flex;
                    justify-content: center;
                    margin-top: 4px;

                    a {
                        box-sizing: border-box !important;
                        display: flex;
                        background-color: #f6f6f6;
                        font-size: 0.9rem;
                        font-family: Inter;
                        font-weight: 400;
                        width: 120px;
                        height: 35px;
                        border-radius: 8px;
                        padding: 1px 6px;
                        border: 1px solid #d3d3d3;
                        text-decoration: none;
                        color: #000000;

                        svg {
                            width: 12px;
                            margin: auto;
                            margin-right: 8px;
                        }
                        span {
                            margin: auto;
                            margin-left: 0px;
                        }
                    }
                }

                .link-button:hover {
                    cursor: pointer;
                    background-color: #ebebeb;
                }
                .link-button:active {
                    background-color: #e6e4e4;
                }
            }
        }
    }

    .variant-view-controls {
        left: 50%;
        transform: translate(-50%, 0px);

        .gene-search {
            width: 210px;
        }
    }
}

.instructions-modals-container {
    .modal {
        .modal-dialog {
            display: flex;
            width: 100%;
        }
        .modal-body {
            box-sizing: border-box !important;
            max-height: 80vh;
            overflow-y: scroll;
            display: flex;
            justify-content: start;
            padding: 0px;
            width: 100%;

            .modal-body-content {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .section {
                display: flex;
                flex-direction: column;
                /* margin-bottom: 20px; */

                .section-content {
                    padding: 0px 55px;
                }

                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                    margin-bottom: 4px;
                }

                hr {
                    color: #cdcdcd;
                    border-width: 1px;
                    margin: 0px;
                }
                hr.header {
                    color: #b0b0b0;
                    border-width: 2px;
                }

                .block {
                    flex: 1;
                    display: flex;
                    margin: 32px 0px;
                    min-height: 120px;
                }
                .block.with-image {
                    justify-content: center;
                    height: auto;

                    .image-container.two-image {
                        display: flex;
                        flex-direction: column;
                    }

                    img {
                        width: 250px;
                        height: fit-content;
                        margin: auto 0px;
                        border: 2px solid #ebebeb;
                        object-fit: contain;
                    }

                    .text {
                        display: flex;
                        width: 300px;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin-left: 60px;

                        p {
                            margin-bottom: 0px;

                            span.text-button-example {
                                display: inline-flex;
                                justify-content: center;
                                background-color: #efefef;
                                width: 25px;
                                height: 25px;
                                border-radius: 10px 0px 0px 10px;
                                border: 2px solid lightgray;

                                b {
                                    line-height: 20px;
                                    margin: auto auto 5px;
                                }
                            }
                            span.text-button-example.right {
                                border-radius: 0px 10px 10px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popover.track-tooltip-popover {
    max-width: none;
    box-shadow: 0px 0px 10px 0px #22252954;
    z-index: 998;

    .popover-header {
        font-size: 1.25rem;
        font-family: 'Inter';
        font-weight: 600;
        background-color: #f7f7f7;
        color: #222529;
        padding-left: 16px;
    }
    .popover-body {
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 16px 32px;
        font-family: 'Inter';
        font-weight: 400;
        color: #222529;

        .popover-content {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            h3 {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 4px;
            }
            hr {
                color: #cdcdcd;
                border-width: 1px;
                margin: 0px;
            }
            hr.header {
                color: #b0b0b0;
                border-width: 2px;
            }
            .section {
                margin-bottom: 20px;

                .block {
                    margin: 16px 0px;
                    display: flex;
                    min-height: 120px;

                    p {
                        span.text-orange {
                            font-weight: 500;
                            color: #e1aa4c;
                        }
                        span.text-green {
                            font-weight: 500;
                            color: #469c77;
                        }
                        span.text-green-alignment {
                            color: #5a9c7c;
                        }
                        span.text-gray {
                            color: #757575;
                        }
                        span.text-blue {
                            color: #71b5f5;
                        }
                        span.text-coral {
                            color: #c96a33;
                        }
                        span.text-red {
                            color: #d73c3a;
                        }
                    }
                }
                .block:last-of-type {
                    margin-bottom: 0px;
                }
                .block.text-only {
                    min-height: min-content;
                    p {
                        width: 360px;
                        padding: 0px 10px;
                        margin-bottom: 0px;
                    }
                }
                .block.text-only.multi-paragraph {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                .block.with-image {
                    justify-content: center;
                    height: auto;

                    .image-container.two-image {
                        display: flex;
                        flex-direction: column;
                    }

                    img {
                        width: 130px;
                        height: fit-content;
                        margin: auto;
                        border: 2px solid #ebebeb;
                        object-fit: contain;
                    }

                    .text {
                        display: flex;
                        width: 200px;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin-left: 20px;

                        p {
                            margin-bottom: 0px;
                        }
                    }
                }
                .block.with-image.column {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding-top: 20px;

                    img {
                        width: 180px;
                        margin-bottom: 20px;
                    }

                    .text {
                        margin-top: 10px;
                        width: 250px;
                        padding: 0px 16px;
                    }
                }
            }
        }
    }
}
