.instructions-modals-container.vanilla .modal .modal-dialog {
    margin: 30px auto;
    width: 95%;
    max-width: 95%;
}

.instructions-modals-container.vanilla .modal .modal-content {
    border-radius: 20px;
}
.instructions-modals-container.vanilla .modal .modal-body {
    box-sizing: border-box !important;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    padding: 0px;
    width: 100%;
    border-radius: 19px;
}
.instructions-modals-container.vanilla .modal .modal-body .modal-navigation-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 30px;
    border-right: 1px solid #b0b0b0;
    width: 200px;
    background-color: #202f48;
}
.instructions-modals-container.vanilla .modal .modal-body .modal-navigation-panel .navigation-panel-icon {
    background-color: transparent;
    border: 4px solid #eef2f6;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .navigation-panel-icon
    .help-button-icon {
    width: 30px;
    height: 30px;
    margin: auto;
    color: #eef2f6;
}

.instructions-modals-container.vanilla .modal .modal-body .modal-navigation-panel .modal-navigation-panel-title {
    font-size: 0.75rem;
    letter-spacing: 0.9px;
    font-weight: 600;
    color: white;
    padding: 10px;
}

.instructions-modals-container.vanilla .modal .modal-body .modal-navigation-panel .modal-navigation-panel-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .modal-navigation-panel-links
    .modal-navigation-link {
    display: flex;
    width: auto;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .modal-navigation-panel-links
    .modal-navigation-link
    svg {
    width: 20px;
    height: auto;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .modal-navigation-panel-links
    .modal-navigation-link
    span {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 16px;
    text-align: center;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .modal-navigation-panel-links
    .modal-navigation-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #1e3c75;
    background-color: #f2f9ff;
    border-color: #cce0f1;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .modal-navigation-panel
    .modal-navigation-panel-links
    .modal-navigation-link.active {
    background-color: #f2f9ff;
    border-color: #cce0f1;
    color: #1e3c75;
}

.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .header {
    display: flex;
    background-color: #f3f8fe;
    border-bottom: 1px solid #bbc5e1;
    padding: 30px;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-header {
    color: black;
    margin: 0px;
    width: 100%;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-header h4 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-header h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-labels {
    display: flex;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #bbc5e1;
    top: 0px;
    z-index: 1;
    padding: 0px 30px 0px 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-labels h4 {
    display: flex;
    flex: 1;
    font-weight: 600;
    font-size: 1rem;
    padding: 15px 0px 15px 3rem;
    margin-bottom: 0px;
    color: #0a2b47;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-labels h4:first-of-type {
    justify-content: center;
}
.instructions-modals-container.vanilla .modal .modal-body .instructions-modal-body .section-content .block.triad {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dadada;
    margin: 0px 30px;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-header {
    display: flex;
    position: absolute;
    padding: 20px 20px 10px 0px;
    background-color: white;
    transform: translate(0px, -50%);
    width: max-content;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-header
    span {
    background-color: #e2eeff;
    padding: 8px 15px;
    font-size: 0.875rem;
    border-radius: 15px;
    font-weight: 300;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-header
    span
    b {
    font-weight: 600;
}

.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item {
    flex: 1;
    display: flex;
    justify-content: center;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text {
    padding: 0rem 1rem 0rem 3rem;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text
    .example-link {
    color: #3792fd;
    font-weight: 600;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text
    .gene-search-image {
    width: 150px;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text
    span.text-button-example {
    display: inline-flex;
    justify-content: center;
    background-color: #efefef;
    width: 25px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid lightgray;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text
    span.text-button-example
    b {
    line-height: 20px;
    margin: auto auto 5px;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .text
    span.text-button-example.right {
    border-radius: 0px 10px 10px 0px;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .instructions-modal-body
    .section-content
    .block.triad
    .block-items
    .block-item
    .image {
    padding: 0px;
    margin: 0px;
    border: 1px solid #e7e7e7;
}

.instructions-modals-container.vanilla .modal .modal-body .modal-body-content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 30px 0px;
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
}
.instructions-modals-container.vanilla .modal .modal-body .section {
    display: flex;
    flex-direction: column;
}
.instructions-modals-container.vanilla .modal .modal-body .section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
}
.instructions-modals-container.vanilla .modal .modal-body .section hr {
    color: #cdcdcd;
    border-width: 2px;
    margin: 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .section hr.header {
    color: #b0b0b0;
    border-width: 2px;
    border-bottom: none;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block {
    flex: 1;
    display: flex;
    margin: 40px 0px;
    min-height: 120px;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block p span.text-green-alignment {
    color: #5a9c7c;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image {
    justify-content: center;
    height: auto;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image .image-container.two-image {
    display: flex;
    flex-direction: column;
}

.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image img {
    width: 400px;
    height: fit-content;
    margin: auto 0px;
    border: 2px solid #ebebeb;
    object-fit: contain;
}

.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image .text {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image .text p {
    margin-bottom: 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.with-image .text p span.text-button-example {
    display: inline-flex;
    justify-content: center;
    background-color: #efefef;
    width: 25px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid lightgray;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example
    b {
    line-height: 20px;
    margin: auto auto 5px;
}
.instructions-modals-container.vanilla
    .modal
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example.right {
    border-radius: 0px 10px 10px 0px;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.triad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.triad .block-item {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.instructions-modals-container.vanilla .modal .modal-body .section .block.triad .block-item img {
    width: 100%;
}

.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.genome-view,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.variant-view,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.read-view {
    margin: 0rem 1rem;
    width: auto;
}
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.genome-view .block,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.variant-view .block,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.read-view .block {
    justify-content: space-evenly;
}
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.genome-view hr,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.variant-view hr,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.read-view hr {
    padding: 0px;
}

.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.genome-view .section h3,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.variant-view .section h3,
.instructions-modals-container.vanilla .modal .modal-body .modal-body-content.read-view .section h3 {
    color: #0a2b47;
    margin: 1rem;
    font-size: 1.5rem;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body {
    box-sizing: border-box !important;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    justify-content: start;
    padding: 24px 36px;
    width: 100%;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .modal-body-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section {
    display: flex;
    flex-direction: column;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .section-content {
    padding: 0px 55px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section hr {
    color: #cdcdcd;
    border-width: 1px;
    margin: 0px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section hr.header {
    color: #b0b0b0;
    border-width: 2px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .block {
    flex: 1;
    display: flex;
    margin: 32px 0px;
    min-height: 120px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .block.with-image {
    justify-content: center;
    height: auto;
}
.instructions-modals-container.vanilla
    .modal.genome-view
    .modal-body
    .section
    .block.with-image
    .image-container.two-image {
    display: flex;
    flex-direction: column;
}

.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .block.with-image img {
    width: 250px;
    height: fit-content;
    margin: auto 0px;
    border: 2px solid #ebebeb;
    object-fit: contain;
}

.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .block.with-image .text {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}
.instructions-modals-container.vanilla .modal.genome-view .modal-body .section .block.with-image .text p {
    margin-bottom: 0px;
}
.instructions-modals-container.vanilla
    .modal.genome-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example {
    display: inline-flex;
    justify-content: center;
    background-color: #efefef;
    width: 25px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid lightgray;
}
.instructions-modals-container.vanilla
    .modal.genome-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example
    b {
    line-height: 20px;
    margin: auto auto 5px;
}
.instructions-modals-container.vanilla
    .modal.genome-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example.right {
    border-radius: 0px 10px 10px 0px;
}

.instructions-modals-container.vanilla .modal.variant-view .modal-body {
    box-sizing: border-box !important;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    justify-content: start;
    padding: 24px 36px;
    width: 100%;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .modal-body-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section {
    display: flex;
    flex-direction: column;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .section-content {
    padding: 0px 55px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section hr {
    color: #cdcdcd;
    border-width: 1px;
    margin: 0px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section hr.header {
    color: #b0b0b0;
    border-width: 2px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .block {
    flex: 1;
    display: flex;
    margin: 32px 0px;
    min-height: 120px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .block.with-image {
    justify-content: center;
    height: auto;
}
.instructions-modals-container.vanilla
    .modal.variant-view
    .modal-body
    .section
    .block.with-image
    .image-container.two-image {
    display: flex;
    flex-direction: column;
}

.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .block.with-image img {
    width: 250px;
    height: fit-content;
    margin: auto 0px;
    border: 2px solid #ebebeb;
    object-fit: contain;
}

.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .block.with-image .text {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}
.instructions-modals-container.vanilla .modal.variant-view .modal-body .section .block.with-image .text p {
    margin-bottom: 0px;
}
.instructions-modals-container.vanilla
    .modal.variant-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example {
    display: inline-flex;
    justify-content: center;
    background-color: #efefef;
    width: 25px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid lightgray;
}
.instructions-modals-container.vanilla
    .modal.variant-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example
    b {
    line-height: 20px;
    margin: auto auto 5px;
}
.instructions-modals-container.vanilla
    .modal.variant-view
    .modal-body
    .section
    .block.with-image
    .text
    p
    span.text-button-example.right {
    border-radius: 0px 10px 10px 0px;
}

.instructions-modals-container.minimal .modal-body {
    box-sizing: border-box !important;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    justify-content: start;
    padding: 24px 36px;
    width: 100%;
}
.instructions-modals-container.minimal .modal-body .modal-body-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.instructions-modals-container.minimal .modal-body .section {
    display: flex;
    flex-direction: column;
}
.instructions-modals-container.minimal .modal-body .section .section-content {
    padding: 0px 55px;
}
.instructions-modals-container.minimal .modal-body .section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
}
.instructions-modals-container.minimal .modal-body .section hr {
    color: #cdcdcd;
    border-width: 1px;
    margin: 0px;
}
.instructions-modals-container.minimal .modal-body .section hr.header {
    color: #b0b0b0;
    border-width: 2px;
}
.instructions-modals-container.minimal .modal-body .section .block {
    flex: 1;
    display: flex;
    margin: 32px 0px;
    min-height: 120px;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image {
    justify-content: center;
    height: auto;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image .image-container.two-image {
    display: flex;
    flex-direction: column;
}

.instructions-modals-container.minimal .modal-body .section .block.with-image img {
    width: 250px;
    height: fit-content;
    margin: auto 0px;
    border: 2px solid #ebebeb;
    object-fit: contain;
}

.instructions-modals-container.minimal .modal-body .section .block.with-image .text {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image .text p {
    margin-bottom: 0px;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image .text p span.text-button-example {
    display: inline-flex;
    justify-content: center;
    background-color: #efefef;
    width: 25px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid lightgray;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image .text p span.text-button-example b {
    line-height: 20px;
    margin: auto auto 5px;
}
.instructions-modals-container.minimal .modal-body .section .block.with-image .text p span.text-button-example.right {
    border-radius: 0px 10px 10px 0px;
}
