.vis-overview-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: white;
    overflow-y: none;
    z-index: 999;
    left: 0px;
    transition-property: left, display;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-behavior: allow-discrete;

    .navigation-container {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        font-size: 18px;
        border-bottom: 1px solid lightgray;
        background: #f6f6f6;

        .config-button {
            svg {
                vertical-align: unset;
            }
        }
        .config-button:hover {
            background-color: #eaeaea;
        }
        .config-button:active {
            background-color: #e3e3e3;
        }

        .title-github-link:hover,
        .title-doc-link:hover,
        .feedback a:hover {
            background-color: #eaeaea;
        }

        .title-github-link:active,
        .title-doc-link:active,
        .feedback a:active {
            background-color: #e3e3e3;
        }
    }

    .title {
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid lightgray;
        background: #f6f6f6;
    }

    .button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 12px;
    }

    .title small {
        font-weight: normal;
    }

    .overview-root {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 0px;

        * {
            box-sizing: border-box !important;
        }

        .overview-container {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            width: 100%;
            padding: 20px;
            gap: 20px;
            overflow-y: auto;
            max-height: calc(100vh - 200px);
        }

        .overview-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-right: 1px solid lightgrey;
            background-color: #f3f9ff;
            border-bottom: 1px solid #aabacd;
            padding: 25px 20px;

            .dropdown-container {
                position: relative;
                display: flex;
                width: max-content;

                .dropdown-button {
                    display: flex;
                    align-items: center;
                    font-size: 1.875rem;
                    font-weight: 600;
                    background-color: transparent;
                    border: none;
                    border-radius: 5px;
                    padding: 0px 15px;

                    .icon {
                        transform: rotate(180deg);
                        /* transition: transform 0.2s ease; */
                        width: 20px;
                        margin-left: 20px;
                    }
                }

                .dropdown-button:hover {
                    cursor: pointer;
                    background-color: #dee5ec;
                }

                .dropdown-button.toggle-open {
                    .icon {
                        transition: transform 0.2s ease;
                        transform: rotate(0deg);
                    }
                }

                .dropdown-items {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid #889cb5;
                    border-radius: 5px;
                    padding: 10px;
                    height: auto;
                    width: max-content;
                    font-size: 1rem;
                    overflow: auto scroll;
                    z-index: 1;
                    top: 100%;
                    gap: 5px;
                }

                /* .dropdown-items.d-none {
                    opacity: 0;
                    height: 10px;
                    transition: height 2s ease;
                }

                .dropdown-items.d-flex {
                    opacity: 1;
                    height: 100px;
                    transition: height 2s ease;
                } */

                .dropdown-items button {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 15px;
                    border-radius: 5px;
                    font-size: 1.25rem;
                    background-color: transparent;
                    border: none;
                    gap: 30px;
                }

                .dropdown-items button:hover {
                    cursor: pointer;
                    background-color: #c6def6;
                }
            }

            .upload-button-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .upload-file-button {
                    display: flex;
                    justify-content: center;
                    color: white;
                    background-color: #617c9d;
                    border: 1px solid #889cb5;
                    padding: 10px 15px;
                    border-radius: 5px;
                    height: min-content;
                    width: max-content;

                    svg.button {
                        position: relative;
                        height: 20px;
                        width: auto;
                        top: auto;
                        right: auto;
                    }

                    span {
                        font-weight: 600;
                        margin-left: 10px;
                    }
                }
            }

            .cancer-selector {
                display: flex;
                flex-direction: column;
                padding: 0px;
            }
        }

        .overview-controls {
            padding: 10px 20px;
            display: flex;
            gap: 15px;
            flex-direction: row;
            flex-wrap: wrap;
            border-top: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;

            .filter {
                width: 210px;

                select.dropdown {
                    font-weight: 500;
                    padding: 5px 10px;
                    color: #617c9d;
                    border: 1px solid #617c9d;
                    border-radius: 4px;
                    max-width: 250px;
                    width: 100%;
                    text-overflow: ellipsis;
                }
            }
        }

        .overview-status {
            background: rgba(210, 210, 210, 0.1);
            height: 25px;
            float: left;
            border-bottom: 1px solid lightgrey;
            padding: 0px;
            margin: 0px;
            color: grey;
            align-content: middle;
            display: flex;
            justify-content: center;
        }
    }

    table {
        width: 100%;
        border-spacing: 0px 0px;
        border-collapse: collapse;
    }

    tr /* :nth-child(even) */ {
        border-top: 1px solid lightgray;
    }

    td {
        border-radius: 0px;
        padding-left: 90px !important;
    }

    .overview-title {
        position: absolute;
        left: -10px;
        top: 120px;
        transform: rotate(-90deg);
        font-weight: bold;
        font-size: 18px;
        text-shadow: 0px 0px 12px #f6f6f6;
    }

    .overview-container > div {
        padding: 4px;
    }

    .selected-overview,
    .unselected-overview {
        display: block;
        text-align: center;
        flex: 1;
    }

    .selected-overview {
        box-shadow: inset 0px 0px 0px 2px #2e94ff;
    }

    .unselected-overview {
        cursor: pointer;
    }

    .unselected-overview:hover {
        box-shadow: inset 0px 0px 0px 2px lightgray;
    }

    td {
        padding: 20px;
    }
}
