.vis-overview-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: white;
    overflow-y: none;
    z-index: 1;
    left: 0px;
    transition-property: left, display;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-behavior: allow-discrete;
}
.vis-overview-panel .navigation-container {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    background: #f6f6f6;
}
.vis-overview-panel .navigation-container .config-button svg {
    vertical-align: unset;
}
.vis-overview-panel .navigation-container .config-button:hover {
    background-color: #eaeaea;
}
.vis-overview-panel .navigation-container .config-button:active {
    background-color: #e3e3e3;
}

.vis-overview-panel .navigation-container .title-github-link:hover,
.vis-overview-panel .navigation-container .title-doc-link:hover,
.vis-overview-panel .navigation-container .feedback a:hover {
    background-color: #eaeaea;
}

.vis-overview-panel .navigation-container .title-github-link:active,
.vis-overview-panel .navigation-container .title-doc-link:active,
.vis-overview-panel .navigation-container .feedback a:active {
    background-color: #e3e3e3;
}

.vis-overview-panel .title {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    background: #f6f6f6;
}

.vis-overview-panel .button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.vis-overview-panel .title small {
    font-weight: normal;
}

.vis-overview-panel .overview-root {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 0px;
}
.vis-overview-panel .overview-root * {
    box-sizing: border-box !important;
}

.vis-overview-panel .overview-root .overview-container {
    display: flex;
}

.vis-overview-panel .overview-root .overview-container .overview-container-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: calc(100vh - 185px);
    padding: 0px;
}
.vis-overview-panel .overview-root .overview-container .overview-container-group .samples-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.vis-overview-panel .overview-root .overview-container .overview-container-group.invert {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 185px);
    padding: 0px;
}
.vis-overview-panel .overview-root .overview-container .overview-container-group.invert .overview-status {
    border-left: 4px solid #8096B2;
}
.vis-overview-panel .overview-root .overview-container .overview-container-group.invert .samples-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
    border-left: 4px solid #8096B2;
}
.comparison-banner {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #41566F;
    height: 70px;
    overflow: hidden;
    /* animation: drop-open 50ms linear; */
}
.comparison-banner span {
    margin: auto;
}

.comparison-banner.matches {
    background-color: #DCE6F1;
}
.comparison-banner.non-matches {
    background-color: #CBD9E7;
    border-left: 4px solid #8096B2;
}


.vis-overview-panel .overview-root .overview-container .overview {
    transition: background-color 50ms ease-out, box-shadow 50ms ease-out;
    border-radius: 10px;
    border-color: transparent;
    max-width: 225px;
    height: max-content;
    overflow: clip;
}
.vis-overview-panel .overview-root .overview-container .overview .overview-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px 5px;
}
.vis-overview-panel .overview-root .overview-container .overview .overview-thumbnail-container .overview-thumbnail {
    flex: 1;
    min-width: 200px;
    width: 95%;
    height: auto;
}
.vis-overview-panel .overview-root .overview-container.with-filters {
    max-height: calc(100vh - 250px);
}

.vis-overview-panel .overview-root .overview-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-right: 1px solid lightgrey;
    background-color: #f3f9ff;
    border-bottom: 1px solid #aabacd;
    padding: 25px 20px;
}
.vis-overview-panel .overview-root .overview-header .upload-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vis-overview-panel .overview-root .overview-header .upload-file-button {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #617c9d;
    border: 1px solid #889cb5;
    padding: 10px 15px;
    border-radius: 5px;
    height: min-content;
    width: max-content;
}
.vis-overview-panel .overview-root .overview-header .upload-file-button svg {
    position: relative;
    height: 20px;
    width: auto;
    top: auto;
    right: auto;
}

.vis-overview-panel .overview-root .overview-header .upload-file-button span {
    font-weight: 600;
    margin-left: 10px;
}
.vis-overview-panel .overview-root .overview-header .upload-file-button:hover {
    cursor: pointer;
    background-color: #5e799a;
}
.vis-overview-panel .overview-root .overview-header .upload-file-button:active {
    cursor: pointer;
    background-color: #4a6680;
}

.vis-overview-panel .overview-root .overview-header .dropdown-container .dropdown-button {
    min-width: 350px;
    justify-content: space-between;
}

.vis-overview-panel .overview-root .overview-controls {
    padding: 10px 35px;
    display: flex;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    justify-content: space-between;
}
.vis-overview-panel .overview-root .overview-controls .overview-controls-filters {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* Checkbox for showing non-matches */
.non-matches-checkbox {
    display: flex;
    align-items: center;
}
.non-matches-checkbox label.checkbox-container .checkbox-icon {
    border-color: #212529;
    margin-right: 8px;
}
.non-matches-checkbox label.checkbox-container .checkbox-icon:hover {
    cursor: pointer;
}
.non-matches-checkbox label.checkbox-container .checkbox-icon svg {
    color: #212529;
}

.vis-overview-panel .overview-root .overview-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(210, 210, 210, 0.1);
    height: 30px;
    float: left;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 0px;
    margin: 0px;
    color: grey;
}

.vis-overview-panel .overview-root .dropdown-container {
    position: relative;
    display: flex;
    width: max-content;
    box-sizing: border-box !important;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-button {
    display: flex;
    align-items: center;
    font-size: 1.875rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-button .icon {
    transform: rotate(180deg);
    width: 20px;
    margin-left: 20px;
}

.vis-overview-panel .overview-root .dropdown-container .dropdown-button:hover {
    cursor: pointer;
    background-color: #ddebf9;
}

.vis-overview-panel .overview-root .dropdown-container .select-label-wrapper {
    display: flex;
    font-weight: 500;
}

.vis-overview-panel .overview-root .dropdown-container .select-label-wrapper .selected-option-count {
    display: flex;
    justify-content: center;
    background-color: #C6DBF1;
    vertical-align: center;
    border-radius: 3px;
    margin: auto auto auto 10px;
    padding: 0px 9px;
    height: 20px;
    width: 20px;
}
.vis-overview-panel .overview-root .dropdown-container .select-label-wrapper .selected-option-count span {
    margin: auto;
    color: #2F68AA;
    font-size: 0.75rem;
    font-weight: 500;
}

.vis-overview-panel .overview-root .dropdown-container .dropdown-button.toggle-open {
    background-color: #ddebf9;
    border-radius: 5px 5px 0px 0px;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-button.toggle-open .icon {
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.vis-overview-panel .overview-root .dropdown-container .dropdown-items {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #889cb5;
    border-top: 1px solid #98acc0;
    border-radius: 8px;
    padding: 10px;
    height: auto;
    min-width: 100%;
    width: min-content;
    font-size: 1rem;
    overflow: auto;
    max-height: 50vh;
    top: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 4px;
    overscroll-behavior: none;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item {
    padding: 10px;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    gap: 20px;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item:hover {
    cursor: pointer;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item.selected {
    font-weight: 600;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item:hover {
    cursor: pointer;
    background-color: #deefff;
}
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item.focused {
    background-color: #deefff;
}

.vis-overview-panel .overview-root .dropdown-container .sample-placeholder {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vis-overview-panel .overview-root .dropdown-container .sample-placeholder .icon-container {
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    background-color: #f3f9ff;
    border-radius: 50%;
    border: 1px solid #617c9d;
    padding: 7px;
}
.vis-overview-panel .overview-root .dropdown-container .sample-placeholder .icon-container .icon {
    width: 100%;
    pointer-events: none;
    color: #617c9d;
}

.vis-overview-panel .overview-root .dropdown-container .sample-placeholder .text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.vis-overview-panel .overview-root .dropdown-container .sample-placeholder .text h4 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 3px;
}
.vis-overview-panel .overview-root .dropdown-container .sample-placeholder .text span {
    font-size: 0.75rem;
    color: #838990;
    font-weight: 400;
}
.vis-overview-panel .overview-root .dropdown-container.filter {
    width: auto;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-button {
    font-size: 1rem;
    font-weight: 400;
    color: #617C9D;
    border: 1.5px solid #617C9D;
    border-radius: 4px;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-button svg {
    width: 15px;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-button:hover {
    background-color: transparent;
}

.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items {
    font-weight: 500;
    color: #3d5066;
    border: 1px solid #3d5066;
    text-overflow: ellipsis;
    min-width: 100%;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item {
    padding: 0px;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    gap: 20px;
}

/* Checkbox */
.vis-overview-panel .overview-root .dropdown-container .dropdown-items .dropdown-item-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 5px 10px;
    gap: 10px;
    flex: 1;
    min-width: 120px;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item.selected {
    font-weight: 600;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item.selected .dropdown-item-checkbox .checkbox-icon{
    background-color: #3d5066;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item-checkbox:hover,
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item-checkbox:hover input {
    cursor: pointer;
    background-color: #deefff;
}
.vis-overview-panel .overview-root .dropdown-container.filter .dropdown-items .dropdown-item.focused {
    background-color: #deefff;
}
.vis-overview-panel .overview-root .dropdown-container.filter.has-selection .dropdown-button {
    border: 1.5px solid #2F68AA;
    background-color: #F3F9FF;
    font-weight: 600;
    color: #2F68AA;
}
.vis-overview-panel .overview-root .dropdown-container.cohort-selector .dropdown-item {
    font-size: 1.25rem;
}

.vis-overview-panel table {
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
}

.vis-overview-panel tr /* :nth-child(even) */ {
    border-top: 1px solid lightgray;
}

.vis-overview-panel td {
    border-radius: 0px;
    padding-left: 90px !important;
}

.vis-overview-panel .overview-title {
    position: absolute;
    left: -10px;
    top: 120px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 12px #f6f6f6;
}

.vis-overview-panel .overview-container > div {
    padding: 4px;
}

.vis-overview-panel .selected-overview,
.vis-overview-panel .unselected-overview {
    display: block;
    text-align: center;
    flex: 1;
}

.vis-overview-panel .selected-overview,
.vis-overview-panel .unselected-overview {
    display: block;
    text-align: center;
    flex: 1;
}

.vis-overview-panel .selected-overview {
    box-shadow: inset 0px 0px 0px 2px #5ba9fd;
    background-color: #f9fcff;
}

.vis-overview-panel .unselected-overview {
    cursor: pointer;
}

.vis-overview-panel .unselected-overview:hover {
    box-shadow: inset 0px 0px 0px 2px #eaeaea;
    background-color: #fcfcfc;
}

.vis-overview-panel .unselected-overview {
    cursor: pointer;
}

.vis-overview-panel .unselected-overview:hover {
    box-shadow: inset 0px 0px 0px 2px lightgray;
}

.vis-overview-panel td {
    padding: 20px;
}

.alert-warning.external-demo {
    background-color: #ba3e3e;
    border: 1px solid #ba3e3e;
    color: white;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 20px;
}
.alert-warning.external-demo .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1.5rem;
    line-height: 1rem;
    cursor: pointer;
    padding: 4px;
    color: white;
}
.alert-warning.external-demo .close:hover {
    background-color: #e7cccc8d;
}


/* Filter Statuses */
.filter-status {
    display: flex;
    flex-direction: row;
    color: #4E7099;
    align-items: baseline;
    gap: 10px;
    width: 100%;
    padding: 10px 38px;
    font-weight: 500;
    font-size: 0.875rem;
    animation: drop-open 100ms linear;
}
.filter-status .ampersand {
    font-size: 1.125rem;
    font-weight: 300;
}

.filter-status-item-container {
    display: flex;
    gap: 10px;
}
.filter-status-item {
    display: flex;
    gap: 15px;
}

.selected-filter-options-container {
    display: flex;
    flex-direction: column;
}
.selected-filter-options {
    display: flex;
    gap: 5px;
}
.selected-filter-option-container {
    display: flex;
    gap: 10px;
}
.selected-filter-option {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #2F68AA;
    padding: 3px 2px 3px 10px;
    border-radius: 3px;
    color: white;
    min-width: 60px;
}
.selected-filter-option:first-of-type {
   margin-left: 5px;
}
.selected-filter-option:last-of-type {
   margin-right: 5px;
}

.selected-filter-option button {
    color: #86B2DE;
    border: none;
    background-color: transparent;
}

.selected-filter-option .remove-filter-option svg {
    height: 15px;
    width: 15px;
}

.selected-filter-title {
    position: relative;
    color: #4E7099;
    font-style: italic;
    font-size: 0.75rem;
    margin-top: 3px;
    font-weight: 400;
}
.selected-filter-title::before {
    position: absolute;
    content: "";
    width: 99%;
    transform: translate(-50%, -2px);
    left: 50%;
    height: 2px;
    border-bottom: 1px solid #617C9D;
    border-left: 1px solid #617C9D;
    border-right: 1px solid #617C9D;
}

.divider.vertical {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1rem;
    align-items: center;
    width: 0px;
    height: 100%;
    color: #617C9D;
}

/* Checkbox styles */
.vis-overview-panel .overview-root .checkbox-container {
    display: flex;
    align-items: center;
}
.vis-overview-panel .overview-root .checkbox-container:hover {
    cursor: pointer;
}
.vis-overview-panel .overview-root .checkbox {
    display: none;
}
.vis-overview-panel .overview-root .checkbox-icon {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1.5px solid #3d5066;
    border-radius: 1.5px;
    margin: auto;
    margin-right: 10px;
}
.vis-overview-panel .overview-root .checkbox-icon svg {
    color: white;
    width: 12px;
    height: 12px;
}

/* Animations */
@keyframes drop-open {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 70px;
    }
}