html,
body,
#root {
    font-family: Helvetica, Arial, sans-serif, 'Lato', 'Inter', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    height: 100%;
}

body {
    background-color: white;
}

.panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-title > small {
    font-size: 12px;
    margin-left: 6px;
}

.config-panel {
    visibility: hidden;
    background-color: #f6f6f6;
    border-right: 1px solid lightgray;
    padding: 20px;
    height: calc(100% - 40px);
    position: fixed;
    z-index: 999;
}

.config-panel-section-title {
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}

.config-panel-input-container {
    margin-top: 18px;
    width: 100%;
}

.config-panel-label {
    /* label on the left of HTML elements */
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 40%;
    display: inline-block;
}

.config-panel-label > small {
    margin-left: 4px;
    font-size: 10px;
    font-weight: bold;
}

.config-panel-input {
    width: 60%;
    display: inline-block;
}

.config-panel-dropdown {
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.config-panel-search-box {
    font-size: 14px;
    height: calc(30px - 6px);
    width: calc(100% - 24px);
    padding: 3px 12px;
}

.config-panel-button {
    font-size: 14px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

.config-panel-button:hover {
    box-shadow: 0px 0px 4px #00000066;
}

.vis-panel {
    height: 100%;
    width: 100%;
}

.config-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 999;
}

.interaction-toggle-button {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.interaction-toggle-button-label {
    line-height: 30px;
}

.sample-label {
    position: absolute;
    top: 12px;
    left: 50px;
    text-shadow: 0px 0px 6px white;
    z-index: 999;
}

.vis-overview-panel {
    position: absolute;
    width: 800px;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: white;
    box-shadow: 0px 0px 12px #00000032;
    overflow-y: auto;
    z-index: 999;
    left: 0px;
    transition: left 0.2s ease;
}

.hide {
    left: -800px;
}

.vis-overview-panel .gosling-component {
    cursor: pointer;
    pointer-events: none;
}

.vis-overview-panel .title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.vis-overview-panel .button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.vis-overview-panel .config {
    min-height: 100px;
    background: #f6f6f6;
    border-top: 1px solid lightgray;
    position: relative;
    padding: 30px;
}

.vis-overview-panel .config .button {
    font-size: 14px;
    height: 30px;
    width: calc(100% - 20px);
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    left: 10px;
}

.vis-overview-panel .overview-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.vis-overview-panel table {
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
}

.vis-overview-panel tr /* :nth-child(even) */ {
    border-top: 1px solid lightgray;
}

.vis-overview-panel td {
    border-radius: 0px;
    padding-left: 90px !important;
}

.vis-overview-panel .overview-title {
    position: absolute;
    left: -10px;
    top: 120px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 12px #f6f6f6;
}

.overview-container > div {
    padding: 20px;
}

.vis-overview-panel .selected-overview {
    box-shadow: inset 0px 0px 0px 2px #2e94ff;
}

.vis-overview-panel .unselected-overview {
    cursor: pointer;
}

.vis-overview-panel .unselected-overview:hover {
    box-shadow: inset 0px 0px 0px 2px lightgray;
}

.vis-overview-panel td {
    padding: 20px;
}

.gosling-panel {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+');
    background-repeat: repeat;
    overflow-y: auto;
    display: grid;
}

.gosling-panel > div {
    grid-area: 1 / 1;
}

.vis-panel-title {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 30%;
}

.vis-panel-overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    /* box-shadow: inset 0px 0px 0px 2px gray; */
    /* background-color: #7AADED00; */
    cursor: grab;
}

.vis-panel-overlay:hover {
    box-shadow: inset 0px 0px 0px 2px #7aaded;
    background-color: #7aaded22;
}

.vis-panel-overlay-active {
    box-shadow: inset 0px 0px 0px 2px #7aaded;
    pointer-events: none;
}

.vis-panel-overlay > span {
    opacity: 0;
    background-color: gray;
    font-weight: bold;
    color: white;
    line-height: 10px;
    position: fixed;
    top: 0;
    padding: 10px;
}

.vis-panel-overlay:hover > span {
    opacity: 1;
    background-color: #7aaded;
}
